/*general code*/
html, body{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
}
body{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      display:flex;
      flex-direction: column;
}

/*header area*/
header{
      background-color:bisque;
      flex:2;

      /*Center items vertically and horizontally*/
      display: flex;
      align-items: center;
      justify-content: center;
}
header h1{
      margin: 0;
}
h1 span#header_short{
      font-size: 12px;
      font-weight: normal;
}

/*setup area*/

/*Remark: How to make the SELECT OPTION TO BE THE SAME SIZE AS THE OTHERS ????*/

.invalid_input:invalid {
background-color:red;
}
section#setup{
      flex:4;
      text-align: center;
      background-color: antiquewhite;
}
form#setup_form{
      display:flex;
}
  
#setup_form fieldset{
      flex:1;

      display:flex;
      flex-direction: column;
      align-items: center;

      border-radius: 18px;
      background-color: bisque;
      margin: 8px;
}

#setup_form fieldset label{
      font-weight: bold;
}

#setup_form fieldset >:nth-child(2){
      width: 90%;
      text-align: center;
}
button#game_setup_submit{
      background-color: darkgray;
      font-weight: bold;
      font-size: 15px;
      color: white;
      width: 100%;
}

/* asynchronously added using javascript */
.invalid_input:invalid{
      border-color:red;
}

/*Center area*/
section#center{
      flex:20;
      display:flex;
}

/*Center area - Gameboard part*/
section#gameboard{
      display:flex;
      flex:3;
      background-color: blanchedalmond;
      flex-direction: column;
      
}
#gameboard table{
flex:auto;
}
#gameboard button{
    height:30px;
}
#gameboard p{
      height:10px;
      text-align: center;
}

td{
      border: 2px solid white;
      padding:20px;
      background-color: black;
}
.selected{
      border: 2px solid red;
}

/*Center area - High scores part*/
section#highscore{
      background-color: bisque;
      flex:1;

      /* needed to position delete button */
      position: relative;
}
section#highscore h3{
      text-align: center;
}
section#highscore th{
      font-weight: normal;
      text-align: left;
      color:cadetblue;
}
section#highscore table{
      table-layout: fixed;
      width: 100%;
}
section#highscore td{
      font-size: 13px;
}
#sort_changer:hover{
      color:violet;
      text-decoration: underline;
}
#sort_changer:active{
      color:blue;
}
button#delete_scores_button{
      position:absolute;
      bottom: 0;
      width: 100%;
}

/*footer area*/
footer{
      background-color: antiquewhite;
      flex:1;

      /*Center items vertically and horizontally*/
      display: flex;
      align-items: center;
      justify-content: center;
}
footer h5{
      margin: 0;
      font-weight: normal;
}





